@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #e2e2e2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 0.5em 0.75em;
  background-color: #555;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  margin: 1rem;
}
.img-flex {
  display: block;
}
